@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
html {
  font-family: 'Play', sans-serif;
  font-weight: 400;
  color: #A6A6A6;

}

h1,
h2,
h3,
h4 {
 color: #A6A6A6;
 text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

:root {
  --main-item-color: #790000;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  font-size: 20px;
  line-height: 1.4rem;
  letter-spacing: .075rem;





}



body::-webkit-scrollbar {
  display: none; /* chrome and safari*/

}

/* NAV SECTION */
#nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  z-index: 1;
  position: sticky;
  height: 70px;
  margin: 0px 10px;
}

.navlogo {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.nav-list {
  list-style: none;

}
.nav-list > li {
  display: inline-block;
  padding: 0px 50px ;
  margin-right: 10px;
}








#link0 {


}
#link1 {

}
#link2 {

}

/* STICKY NAV js will add this in scroll position*/
.sticky {
  position: fixed;
  top: 0;
}

.visible {

  transition: all 0.7s ease 0s;
  height: 50px;
  width: 50px;
  cursor: pointer;
  opacity: 1;
}


li > a:visited,
li > a:visited:hover {
  color:#A6A6A6;
}

#nav-links > ul > li:hover,
#nav-links > ul > li:hover > a {
  background-image: url(assets\navLiBg.svg);
  background-size: 65px;
  background-position: center;
  background-repeat: no-repeat;
  color: #7A0202;
  transition: all 0.7s ease 0s;

}
#nav-links > ul > li {

  padding: 20px;
  border-radius: 100%;
  transition: all 0.7s ease 0s;
  color:#A6A6A6;

}


.main-title {
  display: flex;
  justify-content: center;
  min-height: auto;
  /* border: 5px solid #790000; */

}
header {

}
.inner-header {
    ;
}

.inner-header > img {
min-height: 200px;
/* border: 5px solid #790000; */

}
/* ^^^^^^^^^^^^^^^^HOMEPAGE^^^^^^^^^^^ */
#homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 3px solid red; */

}
.homepage-summary > h1{
  text-align: center;
}
#mission {
  display: flex;
  gap:.5rem;
  align-items: center;
}

#topics {
  display: flex;
  /* border: 3px solid red; */
  min-height: 300px;
}

#topics > div {
  display: flex;
  height: 100px;
  border-radius: 20px;
  align-items:center;
  justify-content: center;
  flex-grow: 2;

}

#topics > div:hover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  font-size:x-large;
  box-shadow: rgba(122, 0, 0, 0.25) 0px 54px 55px, rgba(122, 0, 0, 0.12) 0px -12px 30px, rgba(122, 0, 0, 0.12) 0px 4px 6px, rgba(122, 0, 0, 0.17) 0px 12px 13px, rgba(122, 0, 0, 0.09) 0px -3px 5px;
  font-weight: 600;
  color: #790000;


}

#topics > #one {
  align-self: flex-start;
}
#topics > #two {
  align-self: center;
}
#topics > #three {
  align-self: flex-end;
}

.main-container {
  box-shadow: rgba(121, 0, 0, 0.56) 0px 11px 45px 2px;
  border-radius: 0 0 3% 3%;
  min-width: 85%;
  margin: 0px 10px;
  padding: 20px;

}
.homepage-summary {
  /* border: 3px solid red; */
  min-height: 500px;
  min-width: 85%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 3%;
  padding: 2rem;
  margin: 2rem;
}

.priceTracker {
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;

  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  min-width: 80%;
  margin: 50px;

}
.priceTracker > div {
  display: flex;
  padding: 5px;
  /* border: 3px solid red; */

}
.priceTracker > div > h3,
.priceTracker > div > h4 {
  display: flex;
  border-right: 2px solid #7A0202;
  padding: 5px;
  margin: 5px;
  align-self: center;
}

#contact-us-container {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  /* border: 3px solid red; */
  flex-wrap: wrap;
  gap: 100px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin: 20px;
  padding: 20px;



}

#contact-us,
#newsletter {
  display: flex;
  flex-direction: column;
  /* border: 3px solid red; */
  gap: 15px;
  align-items: center;
  width: 30%;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  min-width: 300px;
  margin: 10px;
  padding: 15px;


}
#newsletter > p {
  text-align: center;

}


/* LEARN PAGE */
#learn-title {
  text-align: center;
  padding: 30px;
  margin: 30px;


}
.learn-container {
  display: flex;
  flex-wrap: wrap;

  ;
}

.learn-flexbox {
  display: flex;
  margin: 10px;

  border-radius: 5px;
  padding: .5em;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.learn-container> * {
  flex: 1 1 33%;
  background-color: #424242;

}

.learn-flexbox > h3 {
  border-right: 2px solid #7A0202;
  padding: 5px;
}

.learn-flexbox > p {
  padding-left: 5px;

}



/* may need to do onmouseover to get the boxes on hover */

/* .learn-item1{




}
.learn-item2{

}
.learn-item3{

}
.learn-item4{

}
.learn-item5{

} */

.fomocalc-container,
.tax-rate-calc,
.dca-calc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  text-align: center;

}
.fomocalc,
.taxcalc,
.dca-calc-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 35%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  gap: 15px;
  margin-bottom: 25px;

}
select,
input,
textarea {
  background-color: #222222;
  color: #A6A6A6;
  border: none;
  box-shadow: rgba(122, 2, 2, 0.4) -5px 5px, rgba(122, 2, 2, 0.3) -10px 10px, rgba(122, 2, 2, 0.2) -15px 15px;
}

button {
  box-shadow: none;
  color:#A6A6A6;
  background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    display: flex;
    justify-self: center;
    transition: all 0.4s ease 0s;
    padding: 15px;

}


button:hover {
  color:rgba(122, 2, 2);
  transition: all 0.4s ease 0s;
}

.btcPDF,
.btcPDF:visited {
  position: relative;
  text-decoration: none;
  color:#A6A6A6;
}


.btcPDF::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background:currentColor;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-in;

  color:rgba(122, 2, 2);

}

.btcPDF:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  color:rgba(122, 2, 2);


}
.submit {
  margin: auto;
}

/* Calc Title Color Change  */
.fomolabel,
.tax-label,
.dca-label,
.homepage-titles {
  transition: all 0.4s ease 0s;
  cursor: pointer;
  list-style: none;
  text-align: center;
  margin-right: 20px;
}


.fomolabel:hover,
.tax-label:hover,
.dca-label:hover,
.homepage-titles:hover {
  color:rgba(122, 2, 2);

}



.fomolabel:hover .info,
.tax-label:hover .info,
.dca-label:hover .info {
  visibility: visible;
  background-color:#383838;
  color:#A6A6A6;
}


.info {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  /* border: 1px red solid; */
  width: 30ch;
  min-width: 10ch;
  right: 15%;
  visibility: hidden;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 5px;
  transition: all 0.25s ease 0s;


}

.answerContainerCapGain,
.answer-container-fomo,
.answer-container-dca

 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  /* border:#7A0202 solid 2px; */
  margin-bottom: 50px;
  min-height: 200px;
}
.answerContainerCapGain > p{
  /* display: none; */
}

/* #dcaP {
  transition: opacity 2s;
  border: #7A0202 solid 2px;
} */
/* .answer-container-dca {
  opacity: 1;
  transition: opacity 2s;


} */

#trans1,
#trans2,
#trans3 {
  opacity: 0;
  transition: opacity 2s;
}

/* .hidden {
  display: none;
} */



/* -----HOME SECTION----- */
.home-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  opacity: .5;
  background-position: center;
  min-height: 75em;
  background-repeat: no-repeat;
  background-image: url();

  background-size: cover;

}

.btc,
.eth {
  display: flex;
  justify-content: center;
  background-color: rgb(160, 160, 160);
  border: 5px solid rgb(128, 127, 127);
  height: 50px;
  flex-grow: 2;
  margin: 5em;
  border-radius: 1em;
  opacity: 0.75;
  min-height: 15em;
  box-shadow: rgba(160, 160, 160, 0.4) 0px 2px 4px, rgba(160, 160, 160, 0.3) 0px 7px 13px -3px, rgba(160, 160, 160, 0.2) 0px -3px 0px inset;
}






/* HIDE SCROLL BARS */




.learn {

  display: flex;
  align-content: center;
  justify-content: center;
  gap: 5em;

}

.learn-btc,
.learn-eth {
  display: flex;
  min-height: 100px;
  background-color:rgb(38, 38, 38);;
  border: 5px solid black;
  flex-grow: 1;
  border-radius: 5em;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
  align-items: center;

}

.learn-btc > h3,
.learn-eth > h3{


}




/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  margin-bottom: -10px;
  margin-left: -10px;
  /* border: red 2px solid; */
}


#cw {
  margin-left: 10px;
  bottom: 0;
  /* border: 1px solid red; */
  margin-top: 60px;
}
#legal {
  margin-left: 10px;
  opacity: .6;
}


/* BTC COLOR CHANGE TESTING */
.btc-up {
  color:rgb(6, 122, 2);
}

.btc-down {
  color:rgba(122, 2, 2);
}


